<% if @telefones.any? %>
    <table class="tabela_fones">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Principal</th>
                <% if @escondeEditarExcluir != 1  %>
                    <th> <%= image_tag 'page_edit.png' %> </th>
                    <th> <%= image_tag 'cancel.png' %> </th>
                <% end  %>
            </tr>
        </thead>
        <tbody>
            <% @telefones.each do |t|  %>
                <% if t.principal? %>
                  <tr class='tr_destaque'>
                <%else  %>
                  <tr class='tr_normal'>
                <% end %>
                    <td><%= t.numero %></td>
                    <td><%= t.principal ? 'Sim' : 'Não' %></td>
                    <% if @escondeEditarExcluir != 1 %>
                        <td><%= link_to('Editar', edit_contato_telefone_path(t.contato.id, t.id)) %></td>
                        <td><%= link_to('Excluir', contato_telefone_path(t.contato.id, t.id), method: :delete, confirm: 'Confirma a exclusão do telefone ?') %></td>
                    <% end  %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else  %>
   <div class='divErro'> Nenhum telefone cadastrado </div>
<% end  %>



