<hr>

<% if @telefone.errors.any? %>
    <% @telefone.errors.full_messages.each do |erro| %>
        <div class="divErro">
            <ul>  
               <% if erro.include?('válido') %>
                  <li> Número do telefone inválido </li>  
               <% else  %>
                  <li> <%= erro %> </li>
               <% end  %>
            </ul>    
        </div>  
    <% end %>
<% end  %>


<% url = @telefone.new_record? ? contato_telefones_path() : contato_telefone_path()  %>
<%= form_for @telefone, url: url do |f|  %>
    <div>
        <div> <%= f.label :numero, 'Telefone (xx)-xxxxx-xxxx'  %> </div>
        <div> <%= f.text_field :numero, class: 'numero_telefone', autocomplete: "off", id: 'numero_telefone', maxlength: "15", autofocus: :true  %> </div>
    </div>

    <div>
        <div> <%= f.label :principal, 'Principal'  %> </div>
        <div> <%= f.check_box :principal, autocomplete: "off"   %> </div>
    </div>

    <hr>

    <div>
        <%= link_to 'Voltar', contato_path(params[:contato_id]), class: 'botaoCancelar' %>
        <%= f.submit 'Salvar', class: 'botaoSalvar' %>
    </div>
<% end  %>

<script>
    Mascara.aplica_mascara_telefone();
</script>