<h1> Dados do usuário (ID: <%= @usuario.id %>) </h1>
<hr>

<ul>
    <li>Nome:  <%= @usuario.nome %></li>
    <li>Email: <%= @usuario.email %></li>
    <li>Login: <%= @usuario.login %></li>
</ul>

<hr>
<br>

<div>
    <%= link_to 'Voltar', usuarios_path, class: 'botaoCancelar' %>
</div>